<html>
    <head>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/underscore.min.js"></script>
        <script type="text/javascript" src="vendor/underscore.string.min.js"></script>
        <script type="text/javascript" src="vendor/backbone.min.js"></script>
        <script type="text/javascript" src="vendor/backbone.marionette.min.js"></script>

        <script type="text/javascript" src="src/bootstrap.js"></script>
        <script type="text/javascript" src="src/javascripsum.js"></script>
        <script type="text/javascript" src="src/factories/app.js"></script>
        <script type="text/javascript" src="src/factories/ipsumSelectorView.js"></script>
        <script type="text/javascript" src="src/factories/generatorView.js"></script>
        <script type="text/javascript" src="src/factories/paragraphCountView.js"></script>
        <script type="text/javascript" src="src/factories/outputView.js"></script>
        <script type="text/javascript" src="src/factories/phraseListController.js"></script>
        <script type="text/javascript" src="src/factories/editorView.js"></script>
        <script type="text/javascript" src="src/util/generator.js"></script>
        <script type="text/javascript" src="src/models/ipsumList.js"></script>
        <script type="text/javascript" src="src/models/phraseList.js"></script>
        <script type="text/javascript" src="src/models/phrase.js"></script>
        <script type="text/javascript" src="src/views/applicationView.js"></script>
        <script type="text/javascript" src="src/views/editorView.js"></script>
        <script type="text/javascript" src="src/views/glossaryView.js"></script>
        <script type="text/javascript" src="src/views/ipsumView.js"></script>

        <script id="main-tpl" type="text/template">
          <div id="ipsum-selector"></div>
          <div id="output-container"></div>
          <div id="generator-container"></div>
          <div id="paragraph-count-container"></div>
          <div id="editor-container"></div>
          <div id="glossary-container"></div>
        </script>

        <script id="ipsum-selector-tpl" type="text/template">
          <select>
            <% _.each(ipsums, function(ipsum) { %>
            <option><%= ipsum.name %></option>
            <% }); %>
          </select>
        </script>

        <script id="generator-tpl" type="text/template">
          <a class="generate">Generate</a>
        </script>

        <script id="paragraph-count-tpl" type="text/template">
          <input class='num-paragraphs' min="1" value="3" type='number'></input>
        </script>

        <script id="output-tpl" type="text/template">
          <% _.each(paragraphs, function(paragraph) { %>
            <p><%= paragraph %></p>
          <% }); %>
        </script>

        <script id="editor-tpl" type="text/template">
          <ul>
            <% _.each(editors, function(editor) { %>
              <li>
                <% if (editor.url) { %>
                  <a href="<%= editor.url %>"><%= editor.name %></a>
                <% } else { %>
                  <%= editor.name %>
                <% } %>
              </li>
            <% }); %>
          </ul>
        </script>

        <script type="text/javascript">
            $(function() {
              var doc = $("<div></div>");
              window.marionetteApp = Javascripsum.Factories.makeApp();
              window.marionetteApp.start({documentSelector: doc});
              $("body").append(doc);
            });
        </script>
    </head>
    <body>
    </body>
</html>
